/* Basic reset for consistent styling */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f7f6;
    color: #333;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #0056b3;
}

button, select, input[type="text"] {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

select, input[type="text"] {
    width: calc(100% - 22px); /* Adjust for padding and border */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Specific styles for AuthButton */
.auth-button-container {
    text-align: center;
    padding: 50px;
}
.auth-button-container a {
    text-decoration: none;
}
